body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; /* Cor de fundo cinza claro */
  color: #333; /* Cor do texto preto */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/a/aa/Lg-noticias-dia-de-gra-mio--de-abertura-da-arquibancada-e-de-fazer-a-arena-inteira-cantar-com-a-norte-32701.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;

  

}

h2 {
  color: #0047ab; /* Azul do Grêmio */
}

label {
  color: #333; /* Cor do texto preto */
}

input[type="text"],
input[type="date"],
input[type="file"],
input[type="submit"] {
  background-color: #fff; /* Cor de fundo branco */
  color: #0047ab; /* Azul do Grêmio */
  border: 1px solid #0047ab; /* Borda sólida azul do Grêmio */
  padding: 8px 12px;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="file"]:focus,
input[type="submit"]:focus {
  outline: none;
  border-color: #00205b; /* Azul escuro do Grêmio */
  box-shadow: 0 0 5px #00205b; /* Sombra azul escuro do Grêmio */
}

input[type="submit"] {
  cursor: pointer;
}

input[type="file"] {
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="file"]:hover {
  background-color: #00205b; /* Azul escuro do Grêmio */
  color: #fff; /* Texto branco */
}

form {
  width: 400px;
  padding: 20px;
  background-color: #fff; /* Cor de fundo branco */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}
